/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.form-heading{
    text-align: center;
}
.field-error{
    border : 1px solid red;
}

.alert-danger{
    display: list-item;
}